.app-page-container,
.app-form-container {
  width: 100%;
  height: 100%;
}

.app-form-container,
.app-form-element {
  padding: 1rem;
  margin: 1rem;
}

.app-result-wrapper,
.app-error-wrapper {
  padding-top: 1rem;
  padding-bottom: 1rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.app-form-container {
  display: flex;
  flex-direction: column;
  place-content: center center;
}

.app-result-wrapper {
  max-width: 100vw;
  white-space: normal;
  word-break: break-all;
}

.app-error-wrapper {
  color: red;
  border-top: black 1px solid;
}